.burger {
  display:flex;
}

.title {
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  color: #fcf9fc;
  margin:auto;
}

a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  height: 90px;
  border-radius: 3px;
  background-color: black !important;
  padding: 15px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}
