<mat-toolbar color="primary">

    <div class='burger'>
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a class='title' routerLink="/home">Instants de Lili</a>
    </div>

  <mat-toolbar-row>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="home">Accueil</a>
            </li>
            <li>
                <a routerLink="portfolio">Portfolio</a>
            </li>
            <li>
              <a routerLink="prices">Tarifs</a>
            </li>
            <li>
                <a routerLink="private-galleries">Galeries Privées</a>
            </li>
            <li>
              <a routerLink="contact">Me contacter</a>
          </li>
        </ul>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
