<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p class='subtitle'>En quelques mots</p>
  </div>
  <div class='description'>
    <p>
      La photo des Instants de Lili, c'est avant tout l'approche intuitive d'une photographe amateure, passionnée par les émotions, qui aime raconter des moments de vie.<br>
      Alors ici, le studio photo laisse place aux mises au point et cadrages imparfaits pour capturer des images naturelles, des éclats de rire et VOS émotions!
    </p>
    <p>
      Maman d'une tribu, vous comprendrez à travers les items, l'amour que je porte aux enfants et à la famille.
    </p>
    <p>
      Musicienne, vous y découvrirez naturellement mon amour pour la batterie et les instruments qui l'accompagnent.
    </p>
    <p>
      Et que serait une maman musicienne comblée, sans une appétence au monde de la cuisine, alors je vous laisse vous mettre en appétit...
    </p>
    <p>
      <small class="text-muted">Bonne visite à tous</small>
    </p>
  </div>
</section>
